<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.nafnaneistar.loginactivity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="xyz.nafnaneistar.controller.ApiController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NafnaNeistar"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginActivity"
        android:usesCleartextTraffic="true">
        <activity android:name="xyz.nafnaneistar.activities.SearchActivity"/>
        <activity android:name="xyz.nafnaneistar.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="xyz.nafnaneistar.activities.LinkPartnerActivity" />
        <activity android:name="xyz.nafnaneistar.activities.SwipeActivity" />
        <activity android:name="xyz.nafnaneistar.activities.SignupActivity" />
        <activity android:name="xyz.nafnaneistar.activities.LoginActivity"></activity>
    </application>

</manifest>